// if(<%= @status %> == '200') {
  $('.contact-button').replaceWith("<div style='float:right; display:none' class='response'>I will Contact you soon.  Thanks!</div>");
// } else {
  // $('.contact-button').replaceWith("<div style='float:right; display:none' class='response'>There was an Error.  Please come back and try again soon.</div>");
// }

$('.response').fadeIn(1000);
$('#new_message').find('input, textarea').val('');
