console.log('ive returned!!!');
var response = "<div style='float:right; display:none'>I will Contact you soon.  Thanks!</div>"
$('.contact-button').replaceWith("<div style='float:right; display:none' class='response'>I will Contact you soon.  Thanks!</div>");
$('.response').fadeIn(1000);
