<div class='razzle-dazzle'>
  <h1 class='title'><strong>Dope Content!</strong></h1>
  <h2 class='subtitle'>Doper Content for Doper People</h2>
  <div class='welcome-buttons'>
    <div class='button'><span>Info</span></div>
    <div class='button'><span>Order Sample</span></div>
    <div class='button'><span>Portfolio</span></div>
  </div>
</div>
