<div id='header'>
  <img class='logo' src='/swirl-vector-logo.jpg'>
  </img>
  <div class='header-links'>
    <div class='link-container'>
      <%= link_to "Home", client_home_path %>
    </div>
    <div class='link-container'>
      <a href='#'>About</a>
    </div>
    <div class='link-container'>
      <%= link_to "Portfolio", client_portfolio_path %>
    </div>
    <div class='link-container'>
      <%= link_to "Contact Me", client_contact_me_path %>
    </div>
  </div>
</div>
