<div id='social-media'>
  <div id="facebook-link">
    <%= facebook_button :static_link => true %>
  </div>
  <div id='twitter-link'>
    <%= twitter_button :static_link => true %>
  </div>
  <div id='linkedin-link'>
    <%= linkedin_button :static_link => true %>
  </div>
  <div id="google-link">
    <%= google_plus_button :static_link => true %>
  </div>
  </div>
</div>
