<div class='about'>
  <div class="shared-container">
    <div class='shared-raised'>
      <div class='inner-container'>
        <h2>About Me</h2>
        <img src='/veevs-profile-pic.jpg'></img>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        <div class="container">
          <h2>Skills and Qualifications</h2>
          <div class="left-column">
            <ul>
              <li>
                Extensive experience with SEO content.
              </li>
              <li>
                Item is an item.
              </li>
              <li>
                Item is an item.
              </li>
              <li>
                Item is an item.
              </li>
              <li>
                Item is an item.
              </li>
              <li>
                Item is an item.
              </li>
            </ul>
          </div>
          <div class="right-column">
            <ul>
              <li>
                Item is an item.
              </li>
              <li>
                Item is an item.
              </li>
              <li>
                Item is an item.
              </li>
              <li>
                Item is an item.
              </li>
              <li>
                Item is an item.
              </li>
              <li>
                Item is an item.
              </li>
            </ul>
          </div>
        </div>
        <div class="container">
          <h2>Education and Certifications</h2>
          <div class="left-column">
            <ul>
              <li>
                Item is an item. a slightly longer item
              </li>
              <li>
                Item is an item. a slightly longer item
              </li>
              <li>
                Item is an item. a slightly longer item
              </li>
            </ul>
          </div>
          <div class="right-column">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
