s<div class='home'>
  <%= render 'header' %>
  <div id='page1'>
  </div>
  <div class='razzle-dazzle'>
    <h1 class='title'><strong>Conty Content</strong>
      <img src=''></img>
    </h1>
    <h2 class='subtitle'>
      <span id='creativity'>Creativity.</span>
      <span id='craftsmanship'>Craftsmanship.</span>
      <span id='consistancy'>Consistancy.</span>
    </h2>
  </div>
  <div id='page2'>
    <div class='column-container'>
      <div class='column left'>
        <div class='trifecta'>
          <img class='circle-img' src='/red-leaf.jpg'></img>
          <h1>I'm Dope</h1>
          <p>Phasellus sit amet consectetur est, at convallis quam. Nam ornare urna sed mattis posuere. Mauris nec lorem tellus. Phasellus sed velit volutpat, condimentum sapien id, facilisis ligula. Phasellus urna est, rutrum ut pulvinar vitae, cursus ut urna. Nullam congue interdum euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet in enim sit amet posuere. Morbi condimentum dapibus augue eu posuere. Nunc commodo nisl nec auctor dapibus.</p>
        </div>
      </div>
      <div class='column center'>
        <div class='trifecta'>
          <img class='circle-img' src='/red-leaf.jpg'/>
          <h1>Because</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum erat, non vulputate ante ornare at. Quisque mollis ipsum in ipsum pulvinar, at cursus metus egestas. Integer ultricies sit amet purus sed tempus. Etiam dignissim magna at sagittis laoreet. In id magna hendrerit, ullamcorper mauris sit amet, porttitor est. Morbi aliquet nunc id ex porta euismod. Proin tincidunt eget risus ut convallis. Maecenas et erat dui. Mauris nibh nibh, viverra eu aliquet quis, condimentum vel felis. Curabitur mattis blandit ultrices.</p>
        </div>
      </div>
      <div class='column right'>
        <div class='trifecta'>
          <img class='circle-img' src='/red-leaf.jpg'></img>
          <h1>I'm Awesome</h1>
          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim pretium, neque nibh mollis magna, at eleifend felis nibh et velit. Curabitur dui mauris, eleifend in laoreet a, mattis commodo risus. Nulla egestas, tellus eget blandit faucibus, nulla augue tristique nisi, ac maximus nisi erat a metus. In molestie nisl in magna sollicitudin, mattis egestas est dignissim. Vestibulum a libero imperdiet, eleifend mauris sed, elementum dui. Etiam fringilla rhoncus rutrum. Donec mattis faucibus lectus ut scelerisque. In porta accumsan sapien eget egestas. Donec vel libero at tortor pulvinar dapibus eu non dui. Mauris ornare libero et lacus eleifend, ut volutpat tellus pretium. In iaculis tellus leo, sed porta metus ultricies in.</p>
        </div>
      </div>
    </div>
  </div>
  <div id='page3'>
    <h1>Why I'm Better</h1>
    <div class='container'>
      <div class='left-column'>
        <ul>
          <li>Quality</li>
          <li>Bulk Order</li>
          <li>Rhetorical Magic</li>
          <li>Rolling Potential</li>
        </ul>
      </div>
      <div class='right-column'>
        <p>Nulla vestibulum lobortis lacinia. Quisque dictum urna et turpis sollicitudin pellentesque. Cras lectus mi, hendrerit ut lacus vitae, fermentum porttitor libero. Praesent at rhoncus dui. In non quam turpis. Duis mollis ante vitae urna scelerisque, id ullamcorper mauris tempus. Sed feugiat, elit fringilla commodo dictum, metus nibh cursus ante, vitae consequat nulla arcu nec sem. Phasellus dapibus finibus gravida. Vestibulum at mattis orci, luctus luctus massa.</p>
        <p>Nulla at ultricies arcu, a vehicula augue. Aliquam erat volutpat. Aenean sagittis arcu mattis leo tincidunt, quis vehicula urna pretium. Vestibulum justo metus, sodales nec sem ac, vehicula malesuada metus. Cras lobortis, tellus id aliquet aliquam, odio tellus gravida orci, sit amet volutpat tortor magna quis libero. Sed rhoncus enim sit amet massa lacinia, sed tincidunt tellus rutrum. Sed rutrum facilisis nibh at ultrices. Duis ultrices facilisis dolor, finibus posuere turpis elementum nec.</p>
      </div>
    </div>
  </div>
  <div id='page4'>
    <div class='column-container'>
      <div class='column left'>
        <div class='trifecta'>
          <h1>TDavis says....</h1>
          <p>Είναι πλέον κοινά παραδεκτό ότι ένας αναγνώστης αποσπάται από το περιεχόμενο που διαβάζει, όταν εξετάζει τη διαμόρφωση μίας σελίδας. Η ουσία της χρήσης του Lorem Ipsum είναι ότι έχει λίγο-πολύ μία ομαλή κατανομή γραμμάτων, αντίθετα με το να βάλει κανείς κείμενο όπως 'Εδώ θα μπει κείμενο, εδώ θα μπει κείμενο', κάνοντάς το να φαίνεται σαν κανονικό κείμενο. Πολλά λογισμικά πακέτα ηλεκτρονικής σελιδοποίησης και επεξεργαστές ιστότοπων πλέον χρησιμοποιούν το Lorem Ipsum σαν προκαθορισμένο δείγμα κειμένου, και η αναζήτησ για τις λέξεις 'lorem ipsum' στο διαδίκτυο θα αποκαλύψει πολλά web site που βρίσκονται στο στάδιο της δημιουργίας. Διάφορες εκδοχές έχουν προκύψει με το πέρασμα των χρόνων, άλλες φορές κατά λάθος, άλλες φορές σκόπιμα (με σκοπό το χιούμορ και άλλα συναφή).</p>
        </div>
      </div>
      <div class='column center'>
        <div class='trifecta'>
          <h1>Palidin says...</h1>
          <p>Υπάρχουν πολλές εκδοχές των αποσπασμάτων του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχθεί κάποιας μορφής αλλοιώσεις, με ενσωματωμένους αστεεισμούς, ή τυχαίες λέξεις που δεν γίνονται καν πιστευτές. Εάν πρόκειται να χρησιμοποιήσετε ένα κομμάτι του Lorem Ipsum, πρέπει να είστε βέβαιοι πως δεν βρίσκεται κάτι προσβλητικό κρυμμένο μέσα στο κείμενο. Όλες οι γεννήτριες Lorem Ipsum στο διαδίκτυο τείνουν να επαναλαμβάνουν προκαθορισμένα κομμάτια του Lorem Ipsum κατά απαίτηση, καθιστώνας την παρούσα γεννήτρια την πρώτη πραγματική γεννήτρια στο διαδίκτυο. Χρησιμοποιεί ένα λεξικό με πάνω από 200 λατινικές λέξεις, συνδυασμένες με ένα εύχρηστο μοντέλο σύνταξης προτάσεων, ώστε να παράγει Lorem Ipsum που δείχνει λογικό. Από εκεί και πέρα, το Lorem Ipsum παραμένει πάντα ανοιχτό σε επαναλήψεις, ενσωμάτωση χιούμορ, μη κατανοητές λέξεις κλπ.</p>
        </div>
      </div>
      <div class='column right'>
        <div class='trifecta'>
          <h1>BPfiefs Says..</h1>
          <p>Αντίθετα με αυτό που θεωρεί η πλειοψηφία, το Lorem Ipsum δεν είναι απλά ένα τυχαίο κείμενο. Οι ρίζες του βρίσκονται σε ένα κείμενο Λατινικής λογοτεχνίας του 45 π.Χ., φτάνοντας την ηλικία του πάνω από 2000 έτη. Ο Richard McClintock, καθηγητής Λατινικών στο κολλέγιο Hampden-Dydney στην Βιρτζίνια, αναζήτησε μία από τις πιο σπάνιες Λατινικές λέξεις, την consectetur, από ένα απόσπασμα του Lorem Ipsum, και ανάμεσα σε όλα τα έργα της κλασσικής λογοτεχνίας, ανακάλυψε την αναμφισβήτητη πηγή του. To Lorem Ipsum προέρχεται από τις ενότητες 1.10.32 και 1.10.33 του "de Finibus Bonorum et Malorum" (Τα άκρα του καλού και του κακού) από τον Cicero (Σισερό), γραμμένο το 45 π.Χ. Αυτό το βιβλίο είναι μία</p>
        </div>
      </div>
    </div>
  </div>
  <%= render 'social_media' %>
  <div id="contact-me">

  </div>
</div>
