<div class='home'>
  <%= render 'header' %>
  <div id='page1'>
  </div>
  <div class='razzle-dazzle'>
    <h1 class='title'><strong>Conty Content</strong>
      <img src=''></img>
    </h1>
    <h2 class='subtitle'>
      <span id='creativity'>Creativity.</span>
      <span id='craftsmanship'>Craftsmanship.</span>
      <span id='consistancy'>Consistancy.</span>
    </h2>
  </div>
  <div id='page2'>
    <div class='column-container'>
      <div class="row">
      <div class='card' id='1'>
        <img class='circle-img' src='/red-leaf.jpg'></img>
        <h1>I'm Dope</h1>
        <p>Phasellus sit amet consectetur est, at convallis quam. Nam ornare urna sed mattis posuere.</p>
      </div>
      <div class='card' id='2'>
        <img class='circle-img' src='/red-leaf.jpg'></img>
        <h1>I'm Dope</h1>
        <p>Phasellus sit amet consectetur est, at convallis quam. Nam ornare urna sed mattis posuere. </p>
      </div>
      <div class='card' id="3">
        <img class='circle-img' src='/red-leaf.jpg'/>
        <h1>Because</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum erat.</p>
      </div>
      </div>
      <div class="row">
      <div class='card' id="1">
        <img class='circle-img' src='/red-leaf.jpg'/>
        <h1>Because</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum erat, non vulputate ante ornare at.</p>
      </div>
      <div class='card' id="2">
        <img class='circle-img' src='/red-leaf.jpg'></img>
        <h1>I'm Awesome</h1>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim.</p>
      </div>
      <div class='card' id="3">
        <img class='circle-img' src='/red-leaf.jpg'></img>
        <h1>I'm Awesome</h1>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim.</p>
      </div>
      </div>
    </div>
  </div>
  <div id='page3'>
    <h1>Why I'm Better</h1>
    <div class='container'>
      <div class='left-column'>
        <ul>
          <li>Quality</li>
          <li>Bulk Order</li>
          <li>Rhetorical Magic</li>
          <li>Rolling Potential</li>
        </ul>
      </div>
      <div class='right-column'>
        <p>Nulla vestibulum lobortis lacinia. Quisque dictum urna et turpis sollicitudin pellentesque. Cras lectus mi, hendrerit ut lacus vitae, fermentum porttitor libero. Praesent at rhoncus dui. In non quam turpis. Duis mollis ante vitae urna scelerisque, id ullamcorper mauris tempus. Sed feugiat, elit fringilla commodo dictum, metus nibh cursus ante, vitae consequat nulla arcu nec sem. Phasellus dapibus finibus gravida. Vestibulum at mattis orci, luctus luctus massa.</p>
        <p>Nulla at ultricies arcu, a vehicula augue. Aliquam erat volutpat. Aenean sagittis arcu mattis leo tincidunt, quis vehicula urna pretium. Vestibulum justo metus, sodales nec sem ac, vehicula malesuada metus. Cras lobortis, tellus id aliquet aliquam, odio tellus gravida orci, sit amet volutpat tortor magna quis libero. Sed rhoncus enim sit amet massa lacinia, sed tincidunt tellus rutrum. Sed rutrum facilisis nibh at ultrices. Duis ultrices facilisis dolor, finibus posuere turpis elementum nec.</p>
      </div>
    </div>
  </div>
  <div id='page4'>
    <div class='column-container'>
      <div class=row>
        <div class='card' id="1">
          <h1>Palidin says</h1>
          <p>Υπάρχουν πολλές εκδοχές των αποσπασμάτων του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχθεί κάποιας .</p>
        </div>
        <div class=' card' id="2">
          <h1>Palidin says</h1>
          <p>Υπάρχουν πολλές εκδοχές των αποσπασμάτων του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχθεί κάποιας .</p>
        </div>
        <div class='card' id="3">
          <h1>Palidin says</h1>
          <p>Υπάρχουν πολλές εκδοχές των αποσπασμάτων του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχθεί κάποιας .</p>
        </div>
      </div>
      <div class="row">
        <div class='card' id="1">
          <h1>Palidin says</h1>
          <p>Υπάρχουν πολλές εκδοχές των αποσπασμάτων του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχθεί κάποιας .</p>
        </div>
        <div class='card' id="2">
          <h1>Palidin says</h1>
          <p>Υπάρχουν πολλές εκδοχές των αποσπασμάτων του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχθεί κάποιας .</p>
        </div>
        <div class='card' id="3">
          <h1>Palidin says</h1>
          <p>Υπάρχουν πολλές εκδοχές των αποσπασμάτων του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχθεί κάποιας .</p>
        </div>
      </div>
    </div>
  </div>
  <%= render 'social_media' %>
  <div id="contact-me">

  </div>
</div>
