<div class='home'>
  <%= render 'header' %>
  <div id='page1'>
  </div>
  <div class='razzle-dazzle'>
    <h1 class='title'><strong>Conty Content</strong>
      <img src=''></img>
    </h1>
    <h2 class='subtitle'>
      <span id='creativity'>Creativity.</span>
      <span id='craftsmanship'>Craftsmanship.</span>
      <span id='consistancy'>Consistancy.</span>
    </h2>
  </div>
  <div id='page2'>
    <div class='column-container'>
      <div class="short row 1">
        <div class='card' id='1'>
          <i class="fa fa-calendar-check-o fa-5x"></i>
          <h1>Meet Your Deadlines</h1>
          <p>Phasellus sit amet consectetur est, at convallis quam. Nam ornare urna sed mattis posuere.</p>
        </div>
        <div class='card grey' id='2'>
          <i class="fa fa-cart-plus fa-5x"></i>
          <h1>Get the Conversions</h1>
          <p>Phasellus sit amet consectetur est, at convallis quam. Nam ornare urna sed mattis posuere. </p>
        </div>
        <div class='card' id="3">
          <i class="fa fa-pencil-square-o fa-5x"></i>
          <h1>Editing Format</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum</p>
        </div>
      </div>
      <div class="short row 2">
        <div class='card grey' id="1">
          <i class="fa fa-globe fa-5x"></i>
          <h1>On Topic. On Brand</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum</p>
        </div>
        <div class='card' id="2">
          <i class="fa fa-line-chart fa-5x"></i>
          <h1>SEO Best Practices</h1>
          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
        <div class='card grey' id="3">
          <i class="fa fa-paper-plane-o fa-5x"></i>
          <h1>Communication</h1>
          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;.</p>
        </div>
      </div>
    </div>
  </div>
  <div id='page3'>
    <h1>Why I'm Better</h1>
    <div class='container'>
      <div class='left-column'>
        <img src='/pencils_background.jpg'/>
        <p class='quality'>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim.</p>
      </div>
      <div class='right-column'>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim</p>
        <ul>
          <li data-quality-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum erat.">Bulk Order</li>
          <li data-quality-text="Υπάρχουν πολλές εκδοχές των αποσπασμάτων του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχθεί κάποιας .Υπάρχουν πολλές εκδοχές των αποσπασμάτων του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχθεί κάποιας .">Rhetorical Magic</li>
          <li data-quality-text="ectetur adipiscing elit. Aliquam tincidunt vest των του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχ cing elit. Aliquam tincidunt vestibulum erat, non vulputate ante">Rolling Potential</li>
        </ul>
      </div>
    </div>
  </div>
  <div id='page4'>
    <div class='column-container'>
      <div class='tall row'>
        <div class='tall card' id="1">
          <div class="top-box">
            <img src="/creativity.jpg"/>
          </div>
          <div class='bottom-box'>
            <h2>Creativity</h2>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim. </p>
          </div>
        </div>
        <div class='tall card' id="2">
          <div class="top-box">
            <h2>Craftsmanship</h2>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim. </p>
          </div>
          <div class='bottom-box'>
            <img src="/craftsmanship.jpg"/>
          </div>
        </div>
        <div class='tall card' id="3">
          <div class="top-box">
            <img src="/consistancy.jpg"/>
          </div>
          <div class='bottom-box'>
            <h2>Consistancy</h2>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'social_media' %>
  <div id="contact-me">

  </div>
</div>
