<div class='home'>
  <%= render 'header' %>
  <div id='page1'>
  </div>
  <div class='razzle-dazzle'>
    <h1 class='title'><strong>Conty Content</strong>
      <img src=''></img>
    </h1>
    <h2 class='subtitle'>
      <span id='creativity'>Creativity.</span>
      <span id='craftsmanship'>Craftsmanship.</span>
      <span id='consistancy'>Consistancy.</span>
    </h2>
  </div>
  <div id='page2'>
    <div class='column-container'>
      <div class="row">
      <div class='card' id='1'>
        <img class='circle-img' src='/red-leaf.jpg'></img>
        <h1>I'm Dope</h1>
        <p>Phasellus sit amet consectetur est, at convallis quam. Nam ornare urna sed mattis posuere.</p>
      </div>
      <div class='card' id='2'>
        <img class='circle-img' src='/red-leaf.jpg'></img>
        <h1>I'm Dope</h1>
        <p>Phasellus sit amet consectetur est, at convallis quam. Nam ornare urna sed mattis posuere. </p>
      </div>
      <div class='card' id="3">
        <img class='circle-img' src='/red-leaf.jpg'/>
        <h1>Because</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum erat.</p>
      </div>
      </div>
      <div class="row">
      <div class='card' id="1">
        <img class='circle-img' src='/red-leaf.jpg'/>
        <h1>Because</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum erat, non vulputate ante ornare at.</p>
      </div>
      <div class='card' id="2">
        <img class='circle-img' src='/red-leaf.jpg'></img>
        <h1>I'm Awesome</h1>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim.</p>
      </div>
      <div class='card' id="3">
        <img class='circle-img' src='/red-leaf.jpg'></img>
        <h1>I'm Awesome</h1>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim.</p>
      </div>
      </div>
    </div>
  </div>
  <div id='page3'>
    <h1>Why I'm Better</h1>
    <div class='container'>
      <div class='left-column'>
        <img src='/pencils_background.jpg'/>
        <p class='quality'>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim.</p>
      </div>
      <div class='right-column'>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim</p>
        <ul>
          <li data-quality-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum erat.">Bulk Order</li>
          <li data-quality-text="Υπάρχουν πολλές εκδοχές των αποσπασμάτων του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχθεί κάποιας .Υπάρχουν πολλές εκδοχές των αποσπασμάτων του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχθεί κάποιας .">Rhetorical Magic</li>
          <li data-quality-text="ectetur adipiscing elit. Aliquam tincidunt vest των του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχ cing elit. Aliquam tincidunt vestibulum erat, non vulputate ante">Rolling Potential</li>
        </ul>
      </div>
    </div>
  </div>
  <div id='page4'>
    <div class='column-container'>
      <div class=row>
        <div class='tall card' id="1">
          <h1>Palidin says</h1>
          <p>Υπάρχουν πολλές εκδοχές των αποσπασμάτων του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχθεί κάποιας .</p>
        </div>
        <div class='tall card' id="2">
          <h1>Palidin says</h1>
          <p>Υπάρχουν πολλές εκδοχές των αποσπασμάτων του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχθεί κάποιας .</p>
        </div>
        <div class='tall card' id="3">
          <h1>Palidin says</h1>
          <p>Υπάρχουν πολλές εκδοχές των αποσπασμάτων του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχθεί κάποιας .</p>
        </div>
      </div>
    </div>
  </div>
  <%= render 'social_media' %>
  <div id="contact-me">

  </div>
</div>
