<div class='home'>
  <div id='header'>
    <div class='logo'>
      Dope Logo
    </div>
    <div class='header-links'>
      <a href='#'>Home</a>
      <a href='#'>About</a>
      <a href='#'>Portfolio</a>
      <a href='#'>Order a Sample</a>
      <a href='#'>Contact</a>
      <a href='#'>Blog</a>
    </div>
  </div>
  <div id='page1'>
    <div class='razzle-dazzle'>
      <h1 class='title'><strong>Dope Content!</strong></h1>
      <h2 class='subtitle'>Doper Content for Doper People</h2>
      <div class='welcome-buttons'>
        <div class='button'><span>Info</span></div>
        <div class='button'><span>Order Sample</span></div>
        <div class='button'><span>Portfolio</span></div>
      </div>
    </div>
  </div>
  <div id='page2'>
    <div class='column-container'>
      <div class='column left'>
        <div class='trifecta'>
          <img class='circle-img' src='/red-leaf.jpg'></img>
          <h1>I'm Dope</h1>
          <p>Phasellus sit amet consectetur est, at convallis quam. Nam ornare urna sed mattis posuere. Mauris nec lorem tellus. Phasellus sed velit volutpat, condimentum sapien id, facilisis ligula. Phasellus urna est, rutrum ut pulvinar vitae, cursus ut urna. Nullam congue interdum euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet in enim sit amet posuere. Morbi condimentum dapibus augue eu posuere. Nunc commodo nisl nec auctor dapibus.</p>
        </div>
      </div>
      <div class='column center'>
        <div class='trifecta'>
          <img class='circle-img' src='/red-leaf.jpg'/>
          <h1>Because</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum erat, non vulputate ante ornare at. Quisque mollis ipsum in ipsum pulvinar, at cursus metus egestas. Integer ultricies sit amet purus sed tempus. Etiam dignissim magna at sagittis laoreet. In id magna hendrerit, ullamcorper mauris sit amet, porttitor est. Morbi aliquet nunc id ex porta euismod. Proin tincidunt eget risus ut convallis. Maecenas et erat dui. Mauris nibh nibh, viverra eu aliquet quis, condimentum vel felis. Curabitur mattis blandit ultrices.</p>
        </div>
      </div>
      <div class='column right'>
        <div class='trifecta'>
          <img class='circle-img' src='/red-leaf.jpg'></img>
          <h1>I'm Awesome</h1>
          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim pretium, neque nibh mollis magna, at eleifend felis nibh et velit. Curabitur dui mauris, eleifend in laoreet a, mattis commodo risus. Nulla egestas, tellus eget blandit faucibus, nulla augue tristique nisi, ac maximus nisi erat a metus. In molestie nisl in magna sollicitudin, mattis egestas est dignissim. Vestibulum a libero imperdiet, eleifend mauris sed, elementum dui. Etiam fringilla rhoncus rutrum. Donec mattis faucibus lectus ut scelerisque. In porta accumsan sapien eget egestas. Donec vel libero at tortor pulvinar dapibus eu non dui. Mauris ornare libero et lacus eleifend, ut volutpat tellus pretium. In iaculis tellus leo, sed porta metus ultricies in.</p>
        </div>
      </div>
    </div>
  </div>
  <div id='page3'>
    <h1>Why I'm Better</h1>
    <div class='container'>
      <div class='qualities'>
        <ul>
          <li>Quality</li>
          <li>Bulk Order</li>
          <li>Rhetorical Magic</li>
          <li>Rolling Potential</li>
        </ul>
      </div>
      <div class='descriptions'>
      </div>
    </div>
  </div>
</div>
