<div class='home'>
  <div id="page1">
    <div class='razzle-dazzle'>
      <h1 class='title'><strong>Conty Content</strong>
        <img src=''></img>
      </h1>
      <h2 class='subtitle'>
        <span id='creativity'>Creativity.</span>
        <span id='craftsmanship'>Craftsmanship.</span>
        <span id='consistancy'>Consistancy.</span>
      </h2>
    </div>
    <img src='/conty_content.jpg' />
  </div>
  <div id='page2'>
    <div class='column-container'>
      <div class='card short' id='1'>
        <i class="fa fa-calendar-check-o fa-5x"></i>
        <h1>Meet Your Deadlines</h1>
        <p>You’ve planned your project perfectly, and your writer should respect your timeline. When your blog is due Tuesday at noon EST, that’s exactly when you’ll get it.</p>
      </div>
      <div class='card short grey' id='2'>
        <i class="fa fa-cart-plus fa-5x"></i>
        <h1>Traffic & Conversions</h1>
        <p>Content is key for consumer engagement. If you want people to keep reading, clicking and purchasing, you’ll need to give them new and interesting information.</p>
      </div>
      <div class='card short' id="3">
        <i class="fa fa-pencil-square-o fa-5x"></i>
        <h1>Edited & Proofread</h1>
        <p>Nothing surpasses the easy flow of an engaging and memorable message, especially if you don’t have to police punctuation. Get edited and proofread work the first time. </p>
      </div>
      <div class='card short grey' id="4">
        <i class="fa fa-globe fa-5x"></i>
        <h1>On Topic, On Brand</h1>
        <p>You’ve worked hard to establish your brand and your new content should support your voice. Focused and relevant, that’s good writing!</p>
      </div>
      <div class='card short' id="5">
        <i class="fa fa-line-chart fa-5x"></i>
        <h1>SEO Best Practices</h1>
        <p>The coveted top spots in search engine results are key to getting your message heard. From meta tags to natural keyword insertion, I’ll adhere to your SEO strategy.</p>
      </div>
      <div class='card short grey' id="6">
        <i class="fa fa-paper-plane-o fa-5x"></i>
        <h1>Fast Communication</h1>
        <p>With so many instant forms of communication available, there’s no excuse for slow responses! When you need a fast update, you’ll get one.</p>
      </div>
    </div>
  </div>
  <div id='page3'>
    <h1>My Professional Checklist</h1>
    <div class='container'>
      <div class='left-column'>
        <img src='/pencils_background.jpg'/>
        <div class="quality"></div>
      </div>
      <div class='right-column'>
        <p>Who is Conty Content? Hello, my name is Gen Conty. I’m a freelance writer with experience churning out thousands of daily words for picky editors, and I’ve written on nearly every topic you can imagine from the mundane to the adventurous. However, I’m breaking away from the “content mill” method of writing, because words shouldn’t be mass-produced.</p>
        <ul>
          <li data-quality-text="Lorem ipsum dolor sit amet, consectetur adipiscing. ">Bulk Order</li>
          <li data-quality-text="Υπάρχουν πολλές εκδοχές των αποσπασμάτων του">Rhetorical Magic</li>
          <li data-quality-text="ectetur adipiscing elit. Aliquam tincidunt vest των του ">Rolling Potential</li>
        </ul>
      </div>
    </div>
  </div>
  <div id='page4'>
    <div class='column-container'>
      <div class='tall card' id="1">
        <div class="top-box">
          <img src="/creativity.jpg"/>
        </div>
        <div class='bottom-box'>
          <h2>Creativity</h2>
          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim. </p>
        </div>
      </div>
      <div class='tall card' id="2">
        <div class="top-box above-pic">
          <h2>Craftsmanship</h2>
          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim. </p>
        </div>
        <div class='bottom-box'>
          <img src="/craftsmanship.jpg"/>
        </div>
      </div>
      <div class='tall card' id="3">
        <div class="top-box">
          <img src="/consistancy.jpg"/>
        </div>
        <div class='bottom-box'>
          <h2>Consistancy</h2>
          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rutrum, lorem ac dignissim. </p>
        </div>
      </div>
    </div>
  </div>
  <%= render 'social_media' %>
</div>
