@import "bourbon";
@import "neat";
@import "client";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@media screen and (max-width: 660px) {
  .home #page1 {
      .razzle-dazzle {
      top: 3em;
      position: relative;
      font-size: 80%;
      text-align: center;
      width: 100%;
    }
    img {
      margin-top:8%;
    }
  }
  #header {
    position: absolute;
    .header-links{
      display:none;
    }
    .logo {
      position: absolute;
    }
    .mobile-hamburger {
      display: inline-block;
    }
  }
  .about .shared-container .shared-raised {
    width: 100%;
    margin: 0;
    border: none;
    box-shadow: none;
    .inner-container {
      img {
      width: 100%;
      margin: 0;
      margin-bottom: 1em;
      clear: both;
      }
      .container {
        .left-column {
          width: 100%;
          float:none;
          margin: 0;
        }
        .right-column {
          width: 100%;
          float:none;
          margin: 0;
        }
      }
    }
  }
  .categories .category-container {
    max-width: 100%;
    img {
      max-width: 100%;
    }
  }
  .articles-container {
    width: 100%;
    margin-left: none;
    margin-right: none;

    .article-contents {
      margin: 0;
    }
  }
}
@media screen and (max-width: 1090px) {
  .contact-me .shared-container .shared-raised {
    margin: 0;
    .inner-container .container{
      text-align: center;
      .left-column {
        width: 100%;
        max-width: none;
      }
      .right-column {
        width: 100%;
        max-width: none;
        input[type=submit] {
          float:none;
        }
      }
    }
  }
  .contact-me #social-media {
    position:relative;
    clear:both;
  }
}
@media screen and (max-width: 400px) {

  .home #page2 .column-container {
    .card {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
    .home #page4 .column-container {
      .card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
  }
}
@media screen and (max-width: 1090px) {
  .home #page3 .container {
    text-align: center;
    .right-column {
      float: none;
    }
  }
}




body{
  margin: 0px;
  font-family: 'Oxygen', sans-serif;
}
