@import "bourbon";
@import "neat";
@import "client";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@media screen and (max-width: 660px) {
  .home #page1 {
      .razzle-dazzle {
      position: relative;
      font-size: 80%;
      text-align: center;
      width: 100%;
    }
    img {
      margin-top:8%;
    }
  }
  #header {
    position: absolute;
    .header-links{
      display:none;
    }
    .mobile-links {
      display: inline-block;
    }
    .logo {
      position: absolute;
    }
  }
  .about .about-container .about-raised {
    width: 100%;
    margin: 0;
    border: none;
    box-shadow: none;
    .inner-container {
      img {
      width: 100%;
      margin: 0;
      margin-bottom: 1em;
      clear: both;
      }
    }
  }
}
@media screen and (max-width: 853px) {
  .contact-me{
    #social-media {
      position:relative;
      clear:both;
    }
  }
}
body{
  margin: 0px;
  height: 100%;
}
