// Place all the styles related to the Client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home, .portfolio-page, .sample-page, .contact-me {
    font-family: Eurostile;
    // height: 500%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  #header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    min-width: 65em;
    height: 3em;
    background-color: #23DD0F;
    .logo {
      float: left;
      position: fixed;
      border-radius: 50%;
      height: 3em;
      width: 4em;
      background-color: #5B5B5B;
      text-align: center;
    }
    .header-links {
      font-weight: bold;
      font-size: 17pt;
      margin-top: 1em;
      float: right;
      :hover{
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-bottom-color: #5B5B5B;
        // height: 3em;
        // background-color: #A1A1A1;
        a {
          // background-color: #A1A1A1;
          // color: #23DD0F;

        }
      }
      .link-container {
        display: inline-block;
        a {
          color: #FFFFFF;
          position: inline-block;
          margin: 3em;
          text-decoration: none;
          margin-bottom: 1em;
        }
      }
    }
  }

  #page1 {
    background-color: #CBCBCB;
    height: 20%;
    width: 100%;
    min-width: 65em;
    min-height: 55em;
    position: relative;
    // background-image: url('/pencils-background.jpg');
    background-size: cover;
    div {
      color: #23DD0F;
    }
    .razzle-dazzle {
      padding-top: 15em;
      font-family: Eurostile;
      position: relative;
      width: 60em;
      height: 50em;
      margin-left: auto;
      margin-right: auto;
      // top: 60%;
      // transform: translateY(-50%);
      .title {
        position: relative;
        width: 10em;
        height: 10em;
        margin-left: auto;
        margin-right: auto;
        img {
          // margin-top: 1em;
          text-align: center;
          border-radius: 50%;
        }
      }

      .welcome-buttons {
        text-align: center;
        .button {
          display: none;
          width: 10em;
          height: 3em;
          border-radius: 15%;
          background-color: #23DD0F;
        }
      }
    }
  }

  #page2, #page4 {
    height: 20%;
    width: 100%;
    min-width: 65em;
    min-height: 55em;
    position: relative;
    color: black;
    background-color: white;
    .column-container {
      position: relative;
      width: 60em;
      height: 50em;
      margin-left: auto;
      margin-right: auto;
      .right {
        float: right;
      }
      .left {
        float: left;
      }
      .center {
        display: inline-block;
        margin-left: 3em;
        margin-right: 3em;
      }
      .column {
        // im dope because im awesome background color
        // background-color: rgba(#2B8888, .3);
        background-color: #0FA100;
        text-align: center;
        position: relative;
        margin-top: 5em;
        padding: 1em;
        width: 18em;
        min-height: 50em;
        border: solid white;
        p {
        }
        .trifecta {
          display: block;

          .circle-img {
            border-radius: 50%;
            width: 50%;
          }

          h1 {
            font-weight: bold;
          }
          p {
          }
        }
      }
    }
  }

  #page3, #order-sample, #sample-show {
    height: 20%;
    width: 100%;
    min-width: 65em;
    min-height: 55em;
    position: relative;
    background-color: #CBCBCB;

    h1 {
      padding-top: 1em;
    }

    h1.sub-header {
      padding-top: 2em;
      padding-left: 5em;
      text-align: left;
    }

    .container {
      width: 65em;
      height: 55em;
      margin-left: auto;
      margin-right: auto;

      .categories {
        text-align: center;
        width: 50em;
        height: 40em;
        margin-left: auto;
        margin-right: auto;

        .category-container {
          text-align: center;
          display: inline-block;
          width: 20em;
          height: 20em;
          margin-left: auto;
          margin-right: auto;
          img {
            margin-right: auto;
            margin-left: auto;
            z-index:1;
            border-radius: 50%;
            background-color: #0FA100;
          }
          .wrapper {
              position: relative;
              padding: 0;
              width:256px;
              display:inline-block;
          }
          .text {
              position: absolute;
              color: #5B5B5B;
              background-color:rgba(255,255,255,0.8);
              width: 256px;
              height: 256px;
              text-align: center;
              z-index: 10;
              opacity: 0;
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              transition: all 0.5s ease;
            }
            .bubble {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-right: -50%;
              transform: translate(-50%, -50%);
              text-align: center;
            }
          .text:hover {
              opacity:1;
          }
        }
      }
      .left-column {
        float: left;
        margin-top: 5em;
        display: inline-block;
        width: 20em;
        height: 40em;

        li {
          margin: 4em;
        }
      }
      .right-column {
        margin-top: 5em;
        display: inline-block;
        width: 40em;
        height: 40em;

        .sample-form-container {
          float: right;
          .sample-field {
            margin: 1em;
            label, input {
              width: 12em;
              display: inline-block;

            }
            label {
              text-align: left;
            }
            span {
              width: 12em;
              input {
                width: 3em;
              }
            }
            textarea {
              width: 12em;
              display: inline-block;
            }
            select {
              width: 12em;
              display: inline-block;
            }
          }
        }

        p {
          margin: 2em;
        }
      }
    }
  }
  .sample-description {
    text-align: center;
    width: 50em;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
  }
  #order-sample {
    background-color: white;
  }
  #social-media {
    text-align: center;
    div {
      display: inline-block;
    }

    .social-media {
      display: inline-block;
      margin: 2em;
    }
    img {
      display: inline-block;
      text-align: center;
      width: 12em;
    }
  }
}

.order-page {
  height: 200%;
}
