// Place all the styles related to the Client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



  // Part 1 of Home Page

#page1 {

  img {
    max-width: 100%;
  }

  .razzle-dazzle {
    position: absolute;
    top: 3em;
    background-size: cover;
    z-index: 5;
    text-align: center;
    height: 100%;
    width: 50%;
    // top: 60%;
    // transform: translateY(-50%);
    .title {
      font-family: 'Julius Sans One', sans-serif;
      font-weight: bold;
      color: #408000;
      display: none;
      position: relative;
      // width: 10em;
      // margin-right: auto;
      font-size: 500%;
      img {
        // margin-top: 1em;
        text-align: center;
        border-radius: 50%;
      }
    }
    .subtitle {
      font-family: 'Julius Sans One', sans-serif;
      font-weight: bold;
      position: relative;
      margin-right:auto;
      color: #408000;
      span{
        opacity: 0.0;
      }
    }
  }

}





  // Part 2 and 4 of Home Page





  #page2, #page4 {
    height: 20%;
    width: 100%;
    position: relative;
    color: black;
    background-color: white;
    text-align: center;
    .column-container {
      margin-top: 5em;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      .card {
        background-color: #f4fff4;
        opacity: 0;
        border-radius: 2%;
        width: 17em;
        height: 18em;
        box-shadow: 10px 10px 5px #888888;
        display: inline-block;
        padding: 1em;
        margin: 1em;
        i {
          font-size: 700%;
          color: #408000;
        }
        p {
          font-size:120%;
        }
        h1 {
          font-family: 'Julius Sans One', sans-serif;
          font-size: 120%;
          font-weight: bold;
        }

        &.grey {
          background-color: #DFDFDF;
        }

        &.tall{
          background-color: white;
          opacity: 1;
          box-shadow: none;
          height: 30em;
          text-align: center;
          -webkit-animation:input-shadow ease-in-out 3s forwards; /* Chrome, Safari, Opera */
          animation:input-shadow ease-in-out 3s forwards;
          @-webkit-keyframes input-shadow {
             0% {
                 box-shadow: none;
             }
             50% {
               box-shadow: 0px 0px 50px #373737;

             }
             100% {
               box-shadow: 0px 0px 30px #888888;
             }
           }

          @keyframes input-shadow {
             0% {
                 box-shadow: none;
             }
             50% {
                 box-shadow: 0px 0px 50px #373737;
             }
             100% {
               box-shadow: 0px 0px 30px #888888;
             }
          }
          .top-box {
            width: 100%;
            margin-top: 1em;
            top: 1em;
            margin-bottom: 5em;
          }
          .bottom-box {
            width: 100%;
            margin-bottom: 1em;
          }

          h2 {
            font-family: 'Julius Sans One', sans-serif;
            font-weight: bold;
            color: #408000;
          }
          img {
            width:100%;
            border-radius: 50%;
          }
        }
      }
    }
  }







  // Part 3 of home page


  #page3 {
    height: 20%;
    width: 100%;
    background-color: #DFDFDF;

    h1 {
      text-align: center;
      font-family: 'Julius Sans One', sans-serif;
      font-weight: bold;
      color: #408000;
      padding: 0;
      padding-top: 2em;
      margin: 0;
      background-color: white;
      height: 5em;
    }

    h1.sub-header {
      padding-top: 2em;
      padding-left: 5em;
      text-align: left;
    }

    .container {
      width: 100%;
      text-align: center;
      img {
        max-width: 100%;
      }
      .right-column {
        position: relative;
        top: 0px;
        font-size: 120%;
        text-align: left;
        display: inline-block;
        max-width: 20em;
        li {
          // margin: 2em;
          font-family: 'Julius Sans One', sans-serif;
          font-weight: bold;
          padding: 2em;
          border-radius: 2%;
          // &:hover{
          //   cursor: pointer;
          //   background-color: #2E2F2E;
          //   color: white;
          // }
        }
      }
      .left-column {
        display: inline-block;
        max-width: 35em;

        img {
          width: 100%;
          z-index: -2000;
        }

        .quality {
          opacity: 0;
          font-size: 200%;
          position: absolute;
          top: 5em;
          margin-right: 20em;
          width: 12em;
        }

        p {
          margin: 2em;
        }
      }
    }
  }








  // Contact Me page


  .contact-me {
    position: relative;
    margin-top: 4em;
    h1 {
      text-align: center;
    }
    .container {
      width: 100%;
      text-align: center;
      .right-column {
        position: relative;
        top: 0px;
        font-size: 120%;
        text-align: left;
        display: inline-block;
        max-width: 20em;
        li {
          // margin: 2em;
          font-family: 'Julius Sans One', sans-serif;
          font-weight: bold;
          padding: 2em;
          border-radius: 2%;
          // &:hover{
          //   cursor: pointer;
          //   background-colors: #2E2F2E;
          //   color: white;
          // }
        }
      }
      .left-column {
        display: inline-block;
        max-width: 30em;

        img {
          width: 100%;
          z-index: -2000;
        }

        .quality {
          opacity: 0;
          font-size: 200%;
          position: absolute;
          top: 5em;
          margin-right: 20em;
          width: 12em;
        }

        p {
          margin: 2em;
        }
      }
    }
    .contact-form {
      // font-size: 80%;
      .contact-entry {
        margin: 1em;
        label, input {
          font-size: 1em;
          width: 10em;
          display: inline-block;
          line-height: 2em;
        }
        label {
          width: 7em;
          text-align: left;
        }
        span {
          width: 12em;
          input {
            width: 3em;
          }
        }
        textarea {
          font-size: 1em;
          width: 10em;
          display: inline-block;
        }
        input[type=submit]{
          float:right;
          border:solid #2E2F2E;
        }
        input[type=submit]:hover{
          color:white;
          background-color: #2E2F2E;
          cursor: pointer;
        }
      }
    }
  }









  //  Category show page (Articles Page)
  .category-name {
    width:100%;
    height: 3em;
    margin-top: 5em;
    margin-bottom: 2em;
    min-width:65em;
  }
  .articles-container{
    display: block;
    width: 65%;
    margin-left:auto;
    margin-right: auto;
    min-width: 65em;
    .article-title {
      width: 100%;
      text-align: center;
      background-color: #5B5B5B;
      border: 2px solid white;

      .article-collapse {
        float: right;
        display:block;
        padding-right: 5px;
      }
      .article-name {
        font-size: 500%;
        color: white;
        width: 100%;
      }
      .article-name:hover {
        cursor: pointer;
      }
      .arrowUp:hover {
        cursor: pointer;
      }
      .arrowDown:hover {
       cursor: pointer;
      }
    }
    .article-contents {
      // border: 2px solid #5B5B5B;
      margin: 3em;
      background-color: #408000;
      border: 2px solid #408000;
      box-shadow: 10px 10px 5px #888888;
      .article-info{
        text-align: center;
        .article-detail {
          margin:5em;
          text-align: center;
          div {
            width:60%;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
      .article-image {
        max-width: 100%;
        display: block;
        text-align: center;
        img {
          max-width:100%;
          display: block;
        }
      }
    }
  }




  // Portfolio Page


  .portfolio-info {
    text-align: center;
    width: 50em;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
  }
  #portfolio-container {
    background-color: white;
  }
  .categories {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    .category-container {
      text-align: center;
      display: inline-block;
      width: 20em;
      height: 20em;
      margin-left: auto;
      margin-right: auto;
      img {
        width: 20em;
        margin-right: auto;
        margin-left: auto;
        z-index:1;
        // border-radius: 50%;
        background-color: #ffffff;
        // #0FA100;
      }
      .wrapper {
          position: relative;
          padding: 0;
          width:256px;
          display:inline-block;
      }
      .text {
          position: absolute;
          color: #5B5B5B;
          background-color:rgba(255,255,255,0.8);
          width: 256px;
          height: 256px;
          text-align: center;
          z-index: 10;
          opacity: 0;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
        .bubble {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          text-align: center;
        }
      .text:hover {
          opacity:1;
      }
    }
  }





  // About page


  .about-container{
    margin-top: 3em;
    width: 100%;
    text-align: center;
    .about-raised {
      margin:5em;
      .inner-container {
        padding: 1em;
        overflow: hidden;
        position: relative;
        text-align: left;
        font-size: 150%;
        img {
          margin: 1em;
          float: left;
          clear: right;
          top: 0px;
          left: 0px;
          display: inline-block;
          width:30%;
        }
        p {
          display: inline-block;
        }
        h2 {
          text-align: center;
        }
      }
    }
  }


#header {
  display: none;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 3em;
  background-color: #408000;
  .logo {
    color: white;
    float: left;
    position: fixed;
    text-align: center;
  }

  a {
    i {
      margin: .25em;
      font-size: 200%;
    }
  }
  .mobile-links {
    display: none;
    float:right;
    a {
      color: #408000;
      i {
        color: white;
      }
    }
  }
  .header-links {
    font-weight: bold;
    font-size: 120%;
    margin-top: 1em;
    float: right;
    :hover {
      border-bottom-width: 4px;
      border-bottom-style: solid;
      border-bottom-color: #5B5B5B;
      // height: 3em;
      // background-color: #A1A1A1;
      a {
        // background-color: #A1A1A1;
        // color: #008000;

      }
    }
    .link-container {
      display: inline-block;
      a {
        color: #ffffff;
        position: inline-block;
        margin: 1em;
        text-decoration: none;
        margin-bottom: 1em;
      }
    }
  }
}
#social-media {
  text-align: left;
  width: 100%;
  margin-top: 1em;
  background-color: #2E2F2E;
  position:fixed;
  bottom: 0;
  div {
    display: inline-block;
    margin: .5em;
  }
  img {
    display: inline-block;
    text-align: center;
    // width: 12em;
  }
  img:hover {
    opacity:.6;
  }
}

.home #social-media {
  clear: both;
  position: relative;
}

canvas {background:url(http://i.imgur.com/5RIXWIE.png)}
