// Place all the styles related to the Client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
    height: 500%;
    width: 100%;
    position: absolute;

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }


  #header {
    position: fixed;
    z-index: 10;
    width: 100%;
    min-width: 65em;
    height: 3em;
    background-color: #46adb6;
    .logo {
      float: left;
      position: fixed;
      border-radius: 50%;
      height: 3em;
      width: 4em;
      background-color: #46adf6;
      text-align: center;
    }
    .header-links {
      float: right;
      margin-top: 1em;
      a {
        margin: 3em;
      }
    }
  }

  #page1 {
    height: 20%;
    width: 100%;
    min-width: 65em;
    min-height: 55em;
    position: relative;
    background-image: url('/maple-1018458_1920.jpg');
    background-size: cover;
    div {
      color: white;
    }
    .razzle-dazzle {
      position: relative;
      width: 60em;
      height: 50em;
      margin-left: auto;
      margin-right: auto;
      top: 60%;
      transform: translateY(-50%);
      .title {
        position: relative;
        width: 10em;
        height: 10em;
        margin-left: auto;
        margin-right: auto;
        img {
          margin-top: 1em;
          text-align: center;
          width: 10em;
          border-radius: 50%;
        }
      }

      .welcome-buttons {
        text-align: center;
        .button {
          display: inline-block;
          width: 10em;
          height: 3em;
          border-radius: 15%;
          background-color: #46adb6;
        }
      }
    }
  }

  #page2, #page4 {
    height: 20%;
    width: 100%;
    min-width: 65em;
    min-height: 55em;
    position: relative;
    color: black;
    background-color: white;
    .column-container {
      position: relative;
      width: 60em;
      height: 50em;
      margin-left: auto;
      margin-right: auto;
      .right {
        float: right;
      }
      .left {
        float: left;
      }
      .center {
        display: inline-block;
        margin-left: 3em;
        margin-right: 3em;
      }
      .column {
        // im dope because im awesome background color
        background-color: rgba(#54ff00, .3);
        text-align: center;
        position: relative;
        margin-top: 5em;
        padding: 1em;
        width: 18em;
        min-height: 50em;
        border: solid white;
        p {
        }
        .trifecta {
          display: block;

          .circle-img {
            border-radius: 50%;
            width: 50%;
          }

          h1 {
            font-weight: bold;
          }
          p {
          }
        }
      }
    }
  }

  #page3 {
    height: 20%;
    width: 100%;
    min-width: 65em;
    min-height: 55em;
    position: relative;
    background-color: #46bd16;

    h1 {
      padding-top: 1em;
    }
    .container {
      width: 65em;
      height: 55em;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      .qualities {
        float: left;
        margin-top: 5em;
        display: inline-block;
        width: 20em;
        height: 40em;

        li {
          margin: 4em;
        }
      }
      .descriptions {
        margin-top: 5em;
        display: inline-block;
        width: 40em;
        height: 40em;

        p {
          margin: 2em;
        }
      }
    }
  }
  #social-media {
    text-align: center;

    .social-media {
      display: inline-block;
      margin: 2em;
    }
    img {
      display: inline-block;
      text-align: center;
      width: 12em;
    }
  }
}
